<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.khoerulih.storyapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/storyapp_logo_background"
        android:label="@string/app_name"
        android:roundIcon="@drawable/storyapp_logo_background"
        android:supportsRtl="true"
        android:theme="@style/Theme.StoryApp.Starting">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBJfcpq5nlNer7cEhZbEkDoxiMiG8na-NQ" />

        <activity
            android:name=".ui.pages.maps.MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps"
            android:theme="@style/Theme.StoryApp"/>
        <activity
            android:name=".ui.pages.login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.pages.main.MainActivity"
            android:exported="false"
            android:theme="@style/Theme.StoryApp" />
        <activity
            android:name=".ui.pages.register.RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.StoryApp" />
        <activity
            android:name=".ui.pages.detailstory.DetailStoryActivity"
            android:exported="false"
            android:parentActivityName=".ui.pages.main.MainActivity"
            android:theme="@style/Theme.StoryApp" />
        <activity
            android:name=".ui.pages.createstory.CreateStoryActivity"
            android:exported="false"
            android:parentActivityName=".ui.pages.main.MainActivity"
            android:theme="@style/Theme.StoryApp" />
        <activity
            android:name=".ui.pages.createstory.CameraActivity"
            android:exported="false"
            android:theme="@style/Theme.StoryApp" />
    </application>

</manifest>